.topPanel {
    background: #284D87;
}

.topPanel h1 {
    color: #fff;
}

.header {
    margin: 0 auto;
    text-align: left;
    padding: 50px;
    padding-top: 20px;
    max-width: 500px;
}

.header > div {
    padding-bottom: 5px;
}

.posts {
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    box-sizing: border-box;
    background: #fff;
}

.post {
    font-size: 13px;
    margin-bottom: 10px;
}